<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
  <body>
    <div style="background-image: url('/assets/images/RoFlag.png'); background-attachment: fixed; background-repeat: no-repeat; background-size: contain;">
      <a href="/">
        <img style="margin-top:0px; width:100%" src="/assets/images/HTsPLogo.png">
      </a>
    </div>
    <div style="width:100%; height:0px; border-style: dashed hidden hidden hidden;"></div>
    <br>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
